extends ../../_admin_layout.pug
include ../../components/confirmButton
include ../../components/searchBox
include ../../components/checkBox

block main
    section#admin-board
        .container
            form(action="")
                .flex.justify-between.align-center.mb-07
                    // 해당 메뉴에 active 클래스 추가
                    ul.menu-selector
                        li.active TON 블록체인
                        li 미디어
                    +searchBox('검색')
                table.table-basic--style
                    thead
                        tr
                            th
                                +checkBox().all-check
                            th 번호
                            th 제목
                            th 날짜
                            th 조회수
                    tbody
                        tr.empty-wrap
                            td(colspan="5") 정보가 없습니다.
                        - for (var i = 10; i > 0; i--)
                            tr
                                td
                                    +checkBox().check
                                td
                                    p= i
                                td 
                                    p [이벤트] 케이터링 서비스를 시작합니다.
                                        img(src="/assets/images/symbols/clip.svg", alt="")
                                td
                                    p 2020.5.12
                                td
                                    p 11
                .flex.justify-end.mt-1
                    +confirmButton('삭제').delete
                    +confirmButton('등록').register
                    //- +confirmButton('수정').revise
                    //- +confirmButton('취소')
                include ../../components/pagination