extends ../../_admin_layout.pug
include ../../components/confirmButton
include ../../components/searchBox
include ../../components/checkBox

block main
    section#admin-member
        .container
            form(action="")
                .flex.justify-end.mb-07
                    +searchBox('검색')
                table.table-basic--style
                    thead
                        tr
                            th
                                +checkBox().all-check
                            th 번호
                            th 이름
                            th 사용자명
                            th 이메일
                            th 전화번호
                            th 등급
                            th 가입일
                    tbody
                        tr.empty-wrap
                            td(colspan="8") 정보가 없습니다.
                        - for (var i = 10; i > 0; i--)
                            tr
                                td
                                    +checkBox().check
                                td
                                    p= i
                                td
                                    p 홍길동
                                td 
                                    p UserNAME
                                td
                                    p email.address@gmail.com
                                td
                                    p 010-1234-1324
                                td
                                    p 준회원
                                td
                                    p 2020.06.30
                .flex.justify-end.mt-1
                    +confirmButton('삭제').delete
                    //- +confirmButton('등록').register
                    //- +confirmButton('수정').revise
                    //- +confirmButton('취소')
                include ../../components/pagination
