extends ../../_admin_layout
include ../../components/confirmButton
include ../../components/inputBox
include ../../components/radioButton
include ../../components/selectBox
include ../../components/checkBox

block main
    section#admin-member-edit.admin-member-edit
        .container.edit
            ul.order--board.error
                li
                    .title 이름
                    .description
                        +inputBox().mb-0(style="max-width: 256px;")
                li
                    .title 이메일 주소
                    .description
                        +inputBox().mb-0(style="max-width: 256px;")
                li
                    .title 전화번호
                    .description
                        +selectBox('010', '011', '016', '019').mr-05
                        +inputBox().mb-0(style="max-width: 80px;").mr-05
                        +inputBox().mb-0(style="max-width: 80px;")
                li
                    .title 텔레그램 사용자명
                    .description
                        +inputBox().mb-0(style="max-width: 256px;")
                li.country
                    .title 국적
                    .description
                        .country-wrapper
                            .box
                                //- +radioButton('country', '한국', 'korea', '그 외', 'other-country')
                                +selectBox()
                            .box
                                p.annotation * 유의사항 | 미국 거주자, 시민, 기업 등의 회원가입을 제한합니다.
                li.member-kind
                    .title 회원유형
                    .description
                        .member-kind-wrapper
                            .flex.column
                                +radioButton('member-kind', '개인회원', 'personal', '기업회원', 'company')
                            .company-box
                                div
                                    span 회사/단체명
                                    +inputBox('text', null, null, null, true)
                                div
                                    span 홈페이지 주소
                                    +inputBox('text', null, null, null, true).mb-0(style="max-width: 256px;")
                li.interest
                    .title 관심분야
                    .description
                        .flex.column.interest-wrapper
                            .box
                                +checkBox('개발', 'development')
                            .box
                                +checkBox('노드 / 벨리데이터', 'validator')
                            .box
                                +checkBox('스테이킹 (채굴)', 'staking')
                            .box.ecosystem
                                +checkBox('TON 블록체인 생태계', 'ecosystem')
                                +inputBox('text', null, null, null, true)
                            .box.other-interest
                                +checkBox('그 외', 'other-interest')
                                +inputBox('text', null, null, null, true)
                            p.annotation *복수선택 가능
            .flex.justify-center.mt-5
                +confirmButton('삭제')
                +confirmButton('수정')
                +confirmButton('취소')