extends ../../_admin_layout.pug

block main
    section#admin-membership
        .container
            .box
                h2 탈중앙화 선언문 리스트
                button(type="button") 
                    img(src="/assets/images/symbols/excel.svg", alt="") 
                    span 엑셀 파일 다운로드