@import "node_modules/reset-css/sass/_reset.scss";

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  -moz-border-radius: 0px;
  border-radius: 0px;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}
