// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
// @import url('https://fonts.googleapis.com/css?family=Oswald:500,700');

body {
  -webkit-font-smoothing: antialiased;

  font: {
    size: 14px;
    // family: "Noto Sans KR", sans-serif;
    family: "Spoqa Han Sans", sans-serif;
  }
  letter-spacing: -0.01em;
  word-wrap: break-word;
  line-height: 1.3;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
    font-weight: bold;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.67em;
  }

  p {
    line-height: 1.5;
  }
}
