// section#community {
//   padding: 100px 0px 100px;

//   @media (min-width: 1024px) {
//     padding: 200px 0px 100px;
//   }
//   .wrapper {
//     margin: 0 auto;
//     max-width: 1024px;

//     @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//       max-width: 1130px;
//     }

//     h2 {
//       color: #0088cc;
//       text-align: center;
//       margin-bottom: 60px;

//       @media (min-width: 1024px) {
//         text-align: left;
//         margin-left: 10px;
//         margin-bottom: 80px;
//       }
//     }

//     ul {
//       display: flex;
//       flex-wrap: wrap;

//       li {
//         width: 100%;
//         margin-bottom: 30px;

//         &:last-child {
//           margin-bottom: 0;
//         }

//         @media (min-width: 768px) {
//           width: 50%;
//         }
//         @media (min-width: 1024px) {
//           width: 33.333333%;
//         }

//         .box {
//           width: 95%;
//           margin: 0 auto;
//           display: flex;
//           border: 1px solid #ccc;
//           border-radius: 6px;
//           padding: 20px 0px;
//           opacity: 0.7;

//           &:hover {
//             opacity: 1;
//           }

//           .logo-wrap {
//             width: 70px;
//             display: flex;
//             align-items: center;

//             figure {
//               margin: 0 auto;
//               width: 32px;
//               height: 32px;
//               display: flex;

//               img {
//                 width: 100%;
//                 position: relative;

//                 &::before {
//                   content: "LOGO";
//                   display: flex;
//                   align-items: center;
//                   width: 100%;
//                   height: 100%;
//                   //   position: absolute;
//                   //   top: 50%;
//                   //   left: 50%;
//                   //   transform: tranlate(-50%, -50%);
//                   //   border: 1px solid #dddddd;
//                   opacity: 0.2;
//                 }
//               }
//             }
//           }

//           .contents-wrap {
//             flex: 1;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;

//             h4 {
//               font-size: 17px;
//               margin-bottom: 7px;
//             }
//             p {
//               font-size: 13px;
//               opacity: 0.7;
//             }
//           }
//           .symbol-wrap {
//             display: flex;
//             align-items: center;

//             img {
//               width: 30px;
//               opacity: 0.5;
//             }
//           }
//         }
//       }
//     }
//   }
// }
