section#forum-post {
  padding: 100px 1rem;

  @media (min-width: 1024px) {
    padding: 150px 0;
  }

  .title {
    ul.hash {
      li {
        display: inline-block;
        color: #778beb;
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &::before {
          content: "#";
          padding-right: 2px;
        }
      }
    }
  }

  .profile {
    .logo {
      width: 30px;
      height: 30px;
      border-radius: 20px;
      margin-right: 7px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 20px;
    }
  }

  .post-status {
    @keyframes heart {
      0% {
        transform: scale(1);
      }
      35% {
        transform: scale(0.7);
      }
      75% {
        transform: scale(1.15);
      }
      100% {
        transform: scale(1);
      }
    }

    ul {
      padding-top: 3rem;

      li {
        margin-right: 35px;

        &:last-child {
          margin-right: 0;
        }

        &.like {
          span {
            margin-right: 8px;
          }
        }

        &.clipboard {
        }

        .count {
          font-size: 1.15em;
        }

        .name {
          padding-top: 5px;
          font-size: 0.88em;
          color: rgb(155, 154, 154);
        }
      }
    }
  }

  .replies-wrap {
  }

  @media (min-width: 1024px) {
    .profile {
      .logo {
        width: 32px;
        height: 32px;
        font-size: 22px;
      }
    }
  }
}
