section#forum-post {
  padding: 100px 1rem;

  @media (min-width: 1024px) {
    padding: 150px 0;
  }

  .title {
    ul.hash {
      li {
        display: inline-block;
        color: #778beb;
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &::before {
          content: "#";
          padding-right: 2px;
        }
      }
    }
  }

  .profile {
    .logo {
      width: 30px;
      height: 30px;
      border-radius: 20px;
      margin-right: 7px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 20px;
    }
  }

  .replies-wrap {
  }

  @media (min-width: 1024px) {
    .profile {
      .logo {
        width: 32px;
        height: 32px;
        font-size: 22px;
      }
    }
  }
}
