section#news {
  padding: 100px 1rem;

  @media (min-width: 1366px) {
    padding: 150px 0;
  }

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;

    h2 {
      color: #0088cc;
      text-align: center;
      margin-bottom: 60px;

      @media (min-width: 1024px) {
        margin-left: 10px;
        margin-bottom: 80px;
      }
    }

    .filter {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;

      & > div {
        display: inline-block;
        padding: 0 16px;
        border-right: 1px solid #ccc;
        opacity: 0.5;

        &:last-child {
          border: 0;
        }

        &.active {
          opacity: 1;
        }
      }
    }

    article.blockchain {
      ul {
        li {
          display: flex;
          align-items: center;
          padding: 1rem 0;
          border-bottom: 1px solid #ccc;

          .image-wrap {
            margin-right: 10px;
            figure {
              // overflow: hidden;

              img {
                width: 100px;
                height: 100px;
                object-fit: cover;
              }
            }
          }
          .contents-wrap {
            .title {
              // @include textellipsis(2);
              font-size: 16px;
              font-weight: 500;
              line-height: 1;
              // padding-top: 5px;
              // padding-bottom: 2px;
              color: rgba(0, 0, 0, 1);

              @media (min-width: 768px) {
                font-size: 17px;
              }
            }

            .date {
              position: relative;
              margin-top: 7px;
              font-size: 14px;
              color: rgba(0, 0, 0, 0.54);
            }
          }
        }
      }
    }

    .loading-wrap {
      padding: 30px 0 0;
    }
  }
}

// section#news {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 120px 20px 100px;

//   @media (min-width: 1024px) {
//     flex-direction: row;
//     justify-content: center;
//     align-items: initial;
//     flex-wrap: wrap;
//     padding: 150px 20px;
//   }

//   figure {
//     width: 100%;
//     margin-bottom: 70px;

//     @media (min-width: 768px) {
//       margin-bottom: 100px;
//     }

//     img {
//       width: 250px;
//       margin: 0 auto;

//       @media (min-width: 768px) {
//         width: 370px;
//       }
//     }
//   }

//   article.korean,
//   article.english {
//     word-wrap: break-word;
//     max-width: 500px;

//     h3 {
//       margin-bottom: 26px;
//     }

//     p {
//       line-height: 1.5;
//       margin-bottom: 24px;
//     }

//     span {
//       font-size: 16px;
//     }
//   }

//   article.korean {
//     word-break: break-all;
//     margin-bottom: 50px;

//     @media (min-width: 1024px) {
//       margin-right: 30px;
//     }
//     @media (min-width: 1366px) {
//       margin-right: 80px;
//     }
//   }

//   article.english {
//     word-break: keep-all;
//   }
// }
