header
    div.container
        figure
            img(src="https://pngimage.net/wp-content/uploads/2018/06/sample-logo-png-transparent-background-1.png")
        nav
            ul
                -   var menu = ['menu1', 'menu2', 'menu3']
                each m in menu
                    li
                        a(href="#")= m