mixin fileUpload()
    article#file-upload.attached-file
        .select-wrap
            label(for="input_file_1").upload-btn-wrapper
                input(type="file" multiple="multiple" hidden)#input_file_1.file-button-1
                figure.upload-btn
                    img(src="/assets/images/symbols/clip.svg", alt="")
                    figcaption 파일선택
            .count-wrap
        ul#dropList
            li
                p 파일네임
                    span.noticeFileDel
                        img(src="/assets/images/symbols/close.svg", alt="")
            li
                p 파일네임
                    span.noticeFileDel
                        img(src="/assets/images/symbols/close.svg", alt="")
            li
                p 파일네임
                    span.noticeFileDel
                        img(src="/assets/images/symbols/close.svg", alt="")
            li
                p 파일네임
                    span.noticeFileDel
                        img(src="/assets/images/symbols/close.svg", alt="")
            li
                p 파일네임
                    span.noticeFileDel
                        img(src="/assets/images/symbols/close.svg", alt="")
            li
                p 파일네임
                    span.noticeFileDel
                        img(src="/assets/images/symbols/close.svg", alt="")
        //- #dropZone
        //-     #fileDragDesc 파일을 드래그 해주세요.

        //-     table#fileListTable
        //-         tbody#fileTableTbody
        //- input(type="button" onclick="uploadFile(); return false;" value="업로드").btn.bg_01