button(type='button').language-select
    img(src="https://icongr.am/clarity/world.svg?size=18&color=b40d1c", alt="language")
    ul
        li(data-country="korea")
            img(src="/assets/images/flag/korea.svg" alt="korea")
        li(data-country="kingdom")
            img(src="/assets/images/flag/kingdom.svg" alt="kingdom")
        //- li(data-country="china")
        //-     img(src="/assets/images/flag/china.svg" alt="china")
        //- li(data-country="japan")
        //-     img(src="/assets/images/flag/japan.svg" alt="japan")
        //- li(data-country="vietnam")
        //-     img(src="/assets/images/flag/vietnam.svg" alt="vietnam")
