mixin telegramLogin()
    .telegram-login-component&attributes(attributes)
        figure.profile-wrapper
            img(src="https://femiwiki-uploaded-files-thumb.s3.amazonaws.com/2/27/%ED%8C%8C%EB%B2%A8.jpg/300px-%ED%8C%8C%EB%B2%A8.jpg", alt="")
            figcaption UserName