doctype html
html(lang="ko")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detaction", content="telephone=no, address=no, email=no")
    meta(name="apple-mobile-web-app-capable", content="yes")

    title Modern Publisher
    link(rel="stylesheet", href="/css/main.css")

body

    include layout/header

    main
        include components/search
        block main

    include layout/footer

    block javascript
        script(src="/js/app.js")