doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="format-detaction", content="telephone=no, address=no, email=no")
        meta(name="referrer" content="strict-origin")

        meta(name="title", content="TON KOREA")
        meta(name="description", content="for TON KOREA")
        meta(name="keywords", content="ton, tonkorea, 톤, 톤코리아, 블록체인, blockchain")

        meta(property="og:title" content="TON KOREA")
        meta(property="og:url" content="https://tonkorea.org")
        meta(property="og:description" content="for TON KOREA")
        meta(property="og:image" content="/assets/images/icons/android-chrome-512x512.png")
        meta(property="og:type" content="website")
        
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="white")
        meta(name="apple-mobile-web-app-title" content="TON KOREA")
        link(link='apple-touch-icon' href="/assets/images/icons/apple-touch-icon.png")

        meta(name="mobile-web-app-capable" content="yes")
        link(rel="icon" type="image/png" sizes="512x512"  href="/assets/images/icons/android-chrome-512x512.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/assets/images/icons/android-chrome-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png")
        link(rel="shortcut icon" href="/assets/images/icons/favicon.ico")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/assets/images/icons/mstile-150x150.png")

        link(rel="manifest", href="/manifest.json")
        meta(name="theme-color" content="#ffffff")

        title TON KOREA
        link(rel="stylesheet", href="/css/main.css")
        link(rel="preload" href="//fonts.googleapis.com/css?family=Titillium+Web:400,700|Noto+Sans+KR:100,400,500" as="font" crossorigin="crossorigin")

        script(src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2Ces2016%2Ces5%2Ces6" async defer) 
        script(src="/js/app.js" defer)

    body


        include layout/header

        main
            block main

        include layout/footer

        