extends ./_layout

block main
    include layout/header
    include section/about
    include section/services
    include section/team
    include section/portfolio
    include section/partners
    include section/contact
        
//- block main
//-     include layout/header
//-     include section/about
//-     include section/services
//-     include section/team
//-     include section/portfolio
//-     include section/partners
//-     include section/contact
        