extends ../_layout

block main
    section#detail
        .wrapper 
            article.container
                .title 광고없는 텔레그램 사용자 2억명 돌파, 그 이후 제목의 길이를 길게하는 작업을 해보자
                .profile
                    .info
                        .logo
                            img(src="/assets/images/image/project/telegram.png", alt="")
                        .author
                            .name 개발자뉴스
                            .date 2018년 11월 12일
                    a(href="") 원문보기
                .description
                    blockquote
                        strong “미덕은 기본 원칙의 미완성보다 더 훌륭한 행동의 수행에서 더욱 분명하게 나타난다” - 아리스토텔레스

                    | <em>모든 프로젝트나 목표</em>는 어떤 포부와 함께 수행됩니다. 이런 포부는 프로젝트를 진행할 뿐 아니라 프로젝트의 기초를 올바르게 세우는 에너지의 역할을 합니다. 
                    | 우리는 앰브로서스에서 미래를 다시 만들고, 과거에는 상상도 하지 못했던 새로운 기회들을 제공하기를 갈망하고 있습니다. 우리가 꿈꾸는 깨끗하고, 효율적이며, 투명한 세계는 우리의 핵심 기술과 함께 시작되며, 변화 가능한 수천개의 사용사례로 확장됩니다.

                    img(src="http://rigvedawiki.net/w/%EC%95%84%EC%9D%B4%EC%9C%A0?action=download&value=thumbnails/IU.w480.jpg" style="width:480px; height:720px;")
                    p
                        a(href="https://www.koinvestor.com" target="_blank") Koinvestor
                    img(src="https://www.striderite.com/on/demandware.static/-/Sites-striderite_us-Library/default/dw691672b8/content/seasonal-content/2018/07/striderite-wide-widths-shoes-for-boys-CH-20180724.jpg" style="width:920px; height:245px;")
                    img(src="http://rigvedawiki.net/w/%EC%95%84%EC%9D%B4%EC%9C%A0?action=download&value=thumbnails/IU.w480.jpg")
                    img(src="https://www.striderite.com/on/demandware.static/-/Sites-striderite_us-Library/default/dw691672b8/content/seasonal-content/2018/07/striderite-wide-widths-shoes-for-boys-CH-20180724.jpg")

                    | 아래는 간결하게 앰브로서스의 포부를 분석한 것입니다. 
                    | 1) 앰브로서스는 무슨 일을 하는가, 2) 앰브로서스의 가치, 3) 앰브로서스가 성취하고자 하는 목표 앰브로서스는 무슨 일을 하는가?
                    | 모든 프로젝트나 목표는 어떤 포부와 함께 수행됩니다. 이런 포부는 프로젝트를 진행할 뿐 아니라 프로젝트의 기초를 올바르게 세우는 에너지의 역할을 합니다. 
                    | 우리는 앰브로서스에서 미래를 다시 만들고, 과거에는 상상도 하지 못했던 새로운 기회들을 제공하기를 갈망하고 있습니다. 우리가 꿈꾸는 깨끗하고, 효율적이며, 투명한 세계는 우리의 핵심 기술과 함께 시작되며, 변화 가능한 수천개의 사용사례로 확장됩니다.

                    
                    img(src="https://pbs.twimg.com/media/DdITPdEU0AAnisL.jpg")

                    ul
                        li 장기 지속가능성: 지속가능성하고, 건강하며, 효율적인 공급체인 관리는 시간, 인내와 끈기가 필요합니다. 이처럼 앰브로서스의 기반 정신은 장기적인 지속가능성에 중점을 둔 생태계 구축에 중점을 두고 있습니다. 중요한 것은 이러한 장기간의 성장은 지름길을 선택하지 않을 때 달성할 수 있기 때문에, 올바른 방법으로 일을 수행하는 데 시간이 소요된다는 것입니다.
                        li 
                            | 실제 적용 분야: 미래를 위해 핵심 기술을 구축하는 것은 오직 핵심 기술이 실제 문제 또는 상황에 실제로 적용될 수 있는 경우에 빛을 발합니다. 따라서 앰브로서스는 구체적으로 실제 문제에 대한 실제 솔루션을 모색하는 B2B 및 B2B2C 회사로 자리매김했습니다. 혁신적인 센서들을 맞춤 설계하고, 고객들의 공급 체인 상황을 점검함으로써, 앰브로서스는 식품 및 의약품의 내면에서 볼 수 있는 것, 그리고 회사가 어떻게 공급망을 최적화하고 브랜드를 마케팅할 수 있는지를 실제로 구현하는 것을 목표로 하는 효과적인 솔루션을 설계합니다.
                            <a href="#">https://www.reddit.com/r/ambrosus/wiki/project#wiki_what_are_some_of_the_possible_applications_that_can_benefit_consumers.3F</a>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/aoEonnmdXDI?rel=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    | 3. 분산화에 대한 헌신: 블록체인이 불변성과 보안을 제공하려면 분산화되어야 합니다. 따라서 앰브로서스는 앰브로서스 네트워크에서 마스터노드를 운영함으로써 분산화에 대한 의지를 우선시합니다. 또한, 앰브로서스 네트워크(AMB-NET)의 오픈소스 특성은 앰브로서스가 커뮤니티와 개인 개발 및 디지털 자원 공유에 참여하고 전 세계가 더 나은 발전을 위해 새롭고 흥미로운 솔루션을 구축하도록 약속한 것을 반영합니다. 공급 체인의 정직함과 투명성은 분산화와 커뮤니티 참여를 위한 헌신이 있을 때만 정말 강화될 수 있습니다.
                    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/H5MNmg5mIu8?rel=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    | 4. 규정 준수 및 투명성: 앰브로서스는 장기적인 지속가능성에 대한 헌신에 따라 규정 준수 및 투명성의 글로벌 기준을 강화하려고 합니다. 우리는 더 개방적이고 공급망을 만들기 위해 열심히 노력할 뿐만 아니라 전 세계의 비즈니스가 더욱 폭넓은 커뮤니티 및 주주들과 지속적으로 협력해야 한다고 믿습니다. 또한, 앰브로서스는 프로젝트 진행 및 신제품 개발에 대한 정기적인 업데이트를 제공함으로써 커뮤니티 참여에 중점을 두고 있습니다. 앰브로서스는 기업 및 규정 기관과 관련하여 스위스 및 세계의 주요 법률팀 및 고문과 협력하여 합법적인 방법으로 TGE에 이르기까지 모든 업무를 수행합니다. 규정 준수에 대한 집중은 세계에서 가장 큰 몇몇 회사와 진행 중인 협상을 반영합니다. 투명성과 규정 준수를 이끌어내는데 중점을 둠으로써 우리는 글로벌 공급체인 효율성을 극대화하고 고객 및 파트너의 이익을 극대화하기 위해 노력합니다.
                .buttons
                    .alert 주소가 복사되었습니다.
                    input(type="hidden")#input-url
                    button.share.btn-copy 공유하기
                    button.list-view 목록보기