extends ../_layout
include ../components/comingSoon

block main
    section#forum
        //- +comingSoon('토론')
        .wrapper
            h2 토론
            .category.window
                label.search--box-component
                    input(type="text" placeholder='카테고리 검색')
                    input(type="submit" value="")
                    ul.list
                        li.search-item 검색 결과물
                        li.search-item 검색 결과물
                        li.search-item 검색 결과물
                        li.search-item 검색 결과가 없습니다
                        li.search-item 검색 결과물
                        li.search-item 검색 결과물
                        li.search-item 검색 결과물
                        li.search-item 검색 결과가 없습니다
                        li.search-item 검색 결과물
                        li.search-item 검색 결과물
                        li.search-item 검색 결과물
                        li.search-item 검색 결과가 없습니다
                .category-button.top
                    .icon
                    p.name 카테고리
                    ul.list
                        li.category-item 컨테스트
                            span 10
                        li.category-item 거버넌스
                            span 10
                        li.category-item 봇
                            span 10
                        li.category-item Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laborum tempora iure eligendi dolor et illo doloremque. Labore, beatae explicabo!
                            span 10
                        li.category-item 거버넌트트트트트트트트트트트트
                            span 10
                        li.category-item 봇
                            span 10
                        li.category-item 거버넌스
                            span 10
                        li.category-item 봇
                            span 10
                        li.category-item 컨테스트
                            span 10
                        li.category-item 거버넌스
                            span 10
                        li.category-item 봇
                            span 10
                .category-button.middle
                    .icon
                    p.name 카테고리
                    ul.list
                        li.category-item 개발 컨테스트
                            span 999
                        li.category-item 번역 컨테스트
                            span 888
            .queue-filter
                // default 최신순
                // 선택 태그에 active 클래스 추가
                span.latest.active •최신순
                span.viewed •조회수순
            table.board
                thead
                    tr
                        th 주제
                        th.views 조회수
                        th.written 작성일
                tbody
                    tr.empty
                        td(colspan='3') 게시글이 존재하지 않습니다.
                    - for (var i = 0; i < 10; i++)
                        tr
                            td
                                .title Contest Proposal: Free TON Visual Brand Communication Contest Part IV. Non-animated StickersFree TON Visual Brand Communication Contest Part IV.
                                .hash 중분류 카테고리
                            td.views.comma 9999
                            td.written 20.09.03
            .loading-wrap
                include ../components/spinner