extends ../_layout
include ../components/comingSoon
include ../components/searchBox

block main
    section#forum
        //- +comingSoon('토론')
        .wrapper
            h2 토론
            .category
                +searchBox('카테고리 검색')
                // 선택된 카테고리는 li item class 태그에 active 클래스가 붙는다.
                // 첫 진입 페이지에서는 'box, top' 클래스가 붙은 ul 태그의 첫번째 li에 active 클래스가 붙어 있다.
                .bundle
                    // 대분류 카테고리
                    ul.box.top
                        li.item.active All
                        - for (var i = 0; i < 15; i++)
                            li.item 대분류 카테고리
                .bundle
                    // 중분류 카테고리
                    // 대분류 카테고리들 중에 중분류 카테고리가 있을 경우에 화면에 나타난다.
                    ul.box.middle
                        li.item.active 중분류 카테고리
                        - for (var i = 0; i < 15; i++)
                            li.item 중분류 카테고리
            .queue-filter
                // default 최신순
                // 선택 태그에 active 클래스 추가
                span.latest.active •최신순
                span.viewed •조회수순
            table.board
                thead
                    tr
                        th 주제
                        th.views 조회수
                        th.written 작성일
                tbody
                    - for (var i = 0; i < 10; i++)
                        tr
                            td
                                .title Contest Proposal: Free TON Visual Brand Communication Contest Part IV. Non-animated StickersFree TON Visual Brand Communication Contest Part IV.
                                .hash 중분류 카테고리
                            td.views 9999
                            td.written 20.09.03
            .loading-wrap
                include ../components/spinner