extends ../_layout

block main
    section#news
        .wrapper
            h2 뉴스
            .filter
                // 해당 div에 active 클래스 추가
                div.active 업데이트
                div 미디어
            article.blockchain
                - var n = 0;
                ul
                    while n < 10
                        li(data-count= n++)
                            a(href="/html/detail.html")
                                //이미지가 없다면 image-wrap 클래스 div tag 자체가 없다.
                                .image-wrap
                                    figure
                                        img(src=`https://source.unsplash.com/collection/19072${n}/400x300`)
                                .contents-wrap
                                    .title 제목 부분입니다. 제목 부분을 일부러 길게 쓰고 있습니다. 디바이스 테스트를 위해 길게 씁니다. 길게 씁니다.
                                    .date 2020.05.13
                                        img(src="https://icongr.am/clarity/paperclip.svg?size=16&color=000000", alt="")
            include ../components/grid
            .loading-wrap
                include ../components/spinner

        //- figure
            img(src="/assets/images/logos/ton-horizontal.svg", alt="Logo")
        //- article(class='korean')
            div
                h3
                    | TON 업데이트 : 투자자들께 드리는 편지 <br />
                    span 2020년 4월 30일     
                p
                    | 최근 미국 지방 법원의 판결에 따라 안타깝게도 우리는 4월 30일 기한까지 그램을
                    | 여러분께 보내드릴수 없게 되었습니다. 따라서 그램구매계약에 따라 Termination
                    | Amount를 리펀드 해 드려야 합니다. 우리는 2019년 10월에 말씀드린 것과 같이
                    | 원금의 72%를 리펀드 해 드린다는 약속을 지킬것 입니다.
                p
                    | 톤을 믿어주신 것에 감사하여 2021년 4월에는 Termination Amount 보다 53% 높은
                    | 금액인 원금의 110%를 리펀드 받으실수 있는 방안도 준비했습니다. 대출계약서를
                    | 포함해 이 방안에 대한 자세한 문서는 관심을 표하시는 분들께 곧 보내드릴 것입니다.
                p
                    | 우리는 톤과 초기 투자자들에게 토큰을 발행하는 것에 대해 해당 규제당국과
                    | 계속해서 논의하고 있습니다. 2021년 4월 30일 전까지 관련 허가가 나온다면 위
                    | 대출을 선택하신 분들은 규제당국이 허락하는 범위에 한해 기존 구매계약서와
                    | 동일한 조건으로 그램이나 다른 암호화폐로 받으실수 있는 선택을 하실 수 있게 됩니다.
                p
                    | 2021년 4월 30일까지 관련 허가를 받지 못한다면 텔레그램은 현재 창립자들이
                    | 보유한 텔레그램 회사의 지분을 매각함으로 대출금을 갚을 자금을 마련할 것입니다.
                    | 4억명의 월실사용자와 150만명의 일일 가입자 수를 보유한 텔레그램은 2020년 4월
                    | 29일 앱스토어 랭킹 기준 인도, 인도네시아, 터키, 러시아, 이집트 그리고 브라질을
                    | 포함한 27개의 국가에서 첫번째로 가장 많이 다운로드된 소셜 미디어 앱입니다.
                    | 비슷한 성장률을 보유한 타 메신저 서비스와 비교할때 텔레그램의 주식가치는 전체
                    | 채무금액보다 최소 여러배를 넘을 것이라고 믿습니다.
                p
                    | 지난 2년간 우리를 믿어주시고 지지해 주셔서 감사합니다. 우리는 프로젝트 런칭이
                    | 허용되지 않은 것에 대해 안타깝게 생각하지만 우리가 톤을 위해 만든 기술이 너무 자랑스럽습니다.
                p
                    | 감사합니다. <br/>
                    span 텔레그램 팀 드림
        //- article(class='english')
            div
                h3
                    | TON Update: A letter to investors <br/>
                    span April 30, 2020
                p
                    | We support the TON project, helping &amp; hoping that TON by telegram succeed as
                    | soon as possible with its launch.
                p
                    | Message from telegram to investors regarding TON: Unfortunately, in light of
                    | the recent US district court decision, we are unable to issue Grams to you by
                    | the 30 April Deadline Date. Accordingly, under the terms of the Purchase
                    | Agreement, we owe you the Termination Amount. We are hereby honouring our plan
                    | communicated to you in October 2019 to repay 72% of your original investment.
                p
                    | As a token of gratitude for your trust in TON, we are also offering you an
                    | alternative option to receive 110% of your original investment by April 30,
                    | 2021, which is 53% higher than the Termination Amount. Detailed documents
                    | describing this option, including a loan agreement, will be provided shortly
                    | to those who express interest.
                p
                    | We are continuing to engage in discussions with the relevant authorities in
                    | connection with TON and the issuance of tokens to the original purchasers. If
                    | we obtain the relevant permissions prior to April 30, 2021, purchasers who
                    | opted for the loan will have the further option to receive Grams or
                    | potentially another cryptocurrency on the same terms as those in their
                    | original Purchase Agreements (to the extent allowed by applicable regulatory
                    | restrictions).
                p
                    | In case the relevant permissions are not obtained by April 30, 2021, Telegram
                    | intends to repay the debt using the proceeds from the sale of equity in the
                    | company, which is currently owned by its founder. With 400 million monthly
                    | users and an organic growth of 1.5 million sign-ups each day, Telegram is the
                    | #1 most downloaded social media application in 27 countries, including India,
                    | Indonesia, Turkey, Russia, Egypt and Brazil (as reflected in the App Store
                    | rankings as of April 29, 2020). Based on the valuation of messaging services
                    | at similar stages of their growth, we believe Telegram&rsquo;s equity value will
                    | exceed the aggregate amount of its potential debt resulting from this offer by
                    | at least several times.
                p
                    | We are thankful for your trust and support over the last two years. We are
                    | very proud of the technology we built for TON, and regret that the project has
                    | not yet been permitted to launch.
            