.space {
    height: 50px;

    @media(min-width: 768px) {
        height: 60px;
    }
}

figure.cube {
    padding: 2rem 0 1rem;
    text-align: center;

    img {
        display: block;
        width: 25px;
        margin: 0 auto;

        &.active {
            animation: roll 1.5s ease-out;
        }
    }

    figcaption {
        font-size: 16px;
        line-height: 2.5;
        font-family: Arial;
    }

    @media(min-width: 768px) {
        & {
            img {
                width: 35px;
            }

            figcaption {
                font-size: 20px;
                line-height: 3;
            }
        }
    }

    @media(min-width: 1024px) {
        & {
            img {
                width: 35px;
            }

            figcaption {
                font-size: 22px;
                line-height: 3;
            }
        }
    }

    @media(min-width: 1366px) {
        & {
            padding: 3rem 0 1.5rem;
        }
    }

    @keyframes roll {
        from {
            transform: rotateY(0deg);
        }

        to {
            transform: rotateY(1440deg);
        }
    }
}