.ie-caution-wrapper {
  display: none;
  position: fixed;
  top: 150px;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0);
  background-color: lightsalmon;
  padding: 0.7rem 2.7rem 0.7rem 0.8rem;
  text-align: center;
  border-radius: 3px;
  width: 382px;

  @media (min-width: 768px) {
    width: 639px;

    br {
      display: none;
    }
  }

  a {
    text-decoration: underline;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 18px;
    height: 18px;
    cursor: pointer;

    @media (min-width: 768px) {
      right: 13px;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: -3px;
    }
  }
}
