label.inputbox--component {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
  display: block;

  &.error {
    margin-bottom: 1rem;
    span.warning {
      visibility: visible;
    }
  }

  &.avail {
    margin-bottom: 1rem;
    span.able {
      visibility: visible;
    }
  }

  &.text-center {
    input {
      text-align: center;
    }
  }

  input {
    width: 100%;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    padding: 0 0.8rem;
    font-size: 14px;

    @media (min-width: 768px) {
      height: 44px;
      font-size: 15px;
    }
  }

  span {
    position: absolute;
    bottom: -17px;
    left: 0;
    font-size: 10px;
    visibility: hidden;
    white-space: nowrap;

    @media (min-width: 768px) {
      bottom: -18px;
      font-size: 11px;
    }

    &.warning {
      color: rgb(190, 23, 23);
    }

    &.able {
      color: rgb(23, 81, 190);
    }
  }
}
