ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  // margin: 1.25rem auto 0;
  // padding: 0.3rem 0.3rem;
  // border: 1px solid rgba(62, 62, 62, 0.3);
  // font-size: 14px;

  @media (min-width: 1024px) {
    font-size: 16px;
    margin: 2rem auto 0;
    padding: 0.5rem 0.3rem;
  }

  li {
    width: 50px;
    text-align: center;

    &.counts {
      color: rgba(62, 62, 62, 0.4);

      &:hover {
        color: rgba(62, 62, 62, 0.8);
      }

      &.active {
        color: rgba(62, 62, 62, 1);
        font-weight: bold;
      }
    }

    &.next,
    &.prev,
    &.first,
    &.last {
      // margin-top: -3px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    &.first {
      // margin-right: -15px;
    }

    &.last {
      // margin-left: 5px;
    }

    img {
      display: inline-block;
    }
  }
}
