.radio--button-component {
  margin-right: 0.25rem;

  & + label {
    position: relative;
    margin-right: 1.1rem;
    cursor: pointer;

    @media (min-width: 768px) {
      margin-right: 1.3rem;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid rgb(62, 62, 62);
      border-radius: 50%;
      margin-bottom: -2px;
      margin-right: 0.35rem;
      transition: 0.3s;
    }

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 4px;
      top: 46%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &:checked + label {
    &:before {
      background-color: rgb(62, 62, 62);
    }
    &:after {
      background-color: white;
      border: 1px solid rgb(62, 62, 62);
      border-radius: 50%;
    }
  }
}
