.search--box-component {
  position: relative;
  // height: 27px;

  // &.admin {
  //   input[type="text"] {
  //   }
  // }

  input[type="submit"] {
    @include centeredY();
    right: 0.5rem;
    width: 16px;
    opacity: 1;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/assets/images/symbols/search.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  input[type="text"] {
    width: 160px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(62, 62, 62, 0.7);
    border-radius: 4px;
    padding-left: 0.5rem;
    padding-right: 1.7rem;
    color: rgba(0, 0, 0, 0.88);
    transition: 0.3s;
    font-size: 15px;

    @media (min-width: 768px) {
      width: 220px;
    }

    &:placeholder-shown {
      border: 1px solid rgba(62, 62, 62, 0.3);
    }

    &:placeholder-shown + input[type="submit"] {
      opacity: 0.3;
    }

    &:focus {
      border: 1px solid rgba(62, 62, 62, 0.7);
    }

    &:focus + input[type="submit"] {
      opacity: 1;
    }
  }
}
