.telegram-login-component {
  display: flex;
  align-items: center;
  margin-right: 25px;

  @media (min-width: 1024px) {
    margin-right: 40px;
  }

  .login-wrapper {
    // width: 172px;
    // height: 28px;
    width: 100px;
    height: 28px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #0088cc;
    border-radius: 100px;
    background-color: #039be5;
    cursor: pointer;

    $size: 24;
    &::before {
      content: "";
      display: inline-block;
      width: $size + px;
      height: $size + px;
      background-image: url("/assets/images/sns/telegram.svg");
      background-size: $size + px;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 4px;
      margin-left: -4px;
      margin-top: -1px;

      @media (min-width: 768px) {
        width: $size + px;
        height: $size + px;
        background-size: $size + px;
      }
    }

    &::after {
      content: "로그인";
      font-size: 12px;
      line-height: 1;
      color: white;
      // margin-top: 1px;

      @media (min-width: 768px) {
        font-size: 13px;
        margin-top: -2px;
      }
    }

    & > iframe {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  figure.profile-wrapper {
    display: flex;
    align-items: center;
    color: #0088cc;
    font-size: 14px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      // background-image: url("/assets/images/sns/telegram.svg");
      // background-size: contain;
      // background-position: center;
      // background-repeat: no-repeat;
      overflow: hidden;
      border-radius: 50%;
    }
  }
}
