footer {
  position: relative;
  /* z-index: 999; */
  background-color: #0088cc;
  padding: 70px 20px;
  color: white;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding: 70px 30px;
  }
  @media (min-width: 1680px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 50px;
  }

  .logo {
    img {
      width: 200px;
      margin: 0 auto 80px;

      @media (min-width: 1366px) {
        margin: 0 auto 90px;
      }
    }
  }

  .site-map {
    /* flex: 1; */
    /* max-width: 624px; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    @media (min-width: 1366px) {
      margin: 0 auto 40px;
    }

    @media (min-width: 1680px) {
      margin: 0 auto;
    }

    li {
      width: 50%;
      margin-bottom: 20px;
      min-height: 140px;
      white-space: nowrap;

      &:nth-child(even) {
        text-align: right;
      }

      @media (min-width: 1366px) {
        width: inherit;
        flex: 1;
        margin-right: 70px;

        &:last-child {
          margin-right: 0;
        }

        &:nth-child(even) {
          text-align: left;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          min-width: 80px;
        }
      }

      p {
        margin-bottom: 9px;

        &:first-child {
          font-size: 16px;
          margin-bottom: 12px;
        }

        &:first-child ~ p {
          opacity: 0.5;
          font-size: 0.89em;
        }
      }
    }
  }

  .rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .clause-and-admin {
      width: 100%;
      max-width: 274px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      color: #555;

      img {
        width: 18px;
      }
    }

    p.copy-right {
    }

    @media (min-width: 768px) {
      .clause-and-admin {
        max-width: 292px;
      }
    }
    @media (min-width: 1680px) {
      align-items: flex-start;
    }
  }
}
