article.bg {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;

    &>.video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        // opacity: .3;

        & video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cover {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
    }
}

article.intro {
    position: relative;
    z-index: 1;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

    & .type-one,
    & .type-two,
    & .type-three {
        position: relative;
        z-index: 1;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, .3);
        animation: pulse 1.5s infinite alternate;

        @media (min-width: 768px) {
            font-size: 1.75rem;
        }

        @media (min-width: 1366px) {
            font-size: 2rem;
        }

        @keyframes pulse {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(1.05);
                color: rgba(255, 255, 255, .8);
            }
        }
    }

    & a.bottom-button {
        position: absolute;
        z-index: 2;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;

        @media(min-width: 768px) {
            width: 80px;
            height: 80px;
        }

        & div {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            border-top: 1px solid rgba(255, 255, 255, .6);
            border-left: 1px solid rgba(255, 255, 255, .6);
            transform: translate(-50%, -70%) rotateZ(-135deg);
            animation: down 1.5s infinite alternate;

            @media(min-width: 768px) {
                width: 25px;
                height: 25px;
            }

            &:first-child {
                transform: translate(-50%, -10%)rotateZ(-135deg);
            }

            @keyframes down {
                0% {
                    top: 0;
                }

                100% {
                    top: 50%;
                }
            }
        }
    }
}