main {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);

    @import './header';

    &>section {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 1024px;
        min-height: 100vh;
        // margin-top: -50px;
        margin: -50px auto 0;

        // &:last-child {
        //     min-height: initial;

        //     & article.container {
        //         display: flex;
        //         justify-content: center;
        //         padding: 5rem 0 10rem;
        //     }
        // }

        @media(min-width: 768px) {
            margin-top: -60px;
        }

        &>article.container {
            position: relative;
            padding: 0 1rem 1rem;

            & h1 {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}