section#admin-membership {
  .box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    h2 {
      margin-bottom: 2em;
    }

    button {
      width: 200px;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 20px;
      font-size: 0.9em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      img {
        width: 20px;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
