-
    var menus = [
        {
            name: '참고자료',
            path: 'resources'
        }, 
        {
            name: '참여',
            path: 'participate'
        }, 
        {
            name: '멤버십',
            path: 'members'
        }, 
        {
            name: '커뮤니티',
            path: 'coummunity'
        }, 
        {
            name: '뉴스', 
            path: 'news'
        },
        {
            name: '문의/연락처',
            path: 'question'
        }
    ]
header
    .wrapper
        figure
            a(href="/index.html")
                img(src="/assets/images/logos/ton-symbol.svg" alt="Logo")
        nav.desktop
            include ../components/languageSelect
            // 로그인 했을 시 sign-in || 로그아웃 했을 시 sign-out
            .sign-in
                a(href="/html/log-in.html") Login
                a(href="/html/join.html") Join
            // .sign-out
            //     a(href="/html/log-in.html") Username
            //     a(href="/html/join.html") Logout
            // 해당 페이지 li 태그에 active 클래스 추가
            ul
                each m in menus
                    li(class=`active`)
                        a(href=`/html/${m.path}.html`)= m.name
        .hamburger
            div
            div
            div
        .mobile-nav-back
        .mobile-nav
            div.close
            // 해당 페이지 li 태그에 active 클래스 추가
            ul
                each m in menus
                    li(class=`active`)
                        a(href=`/html/${m.path}.html`)= m.name